.block__media-text {
    margin: 5rem 0;

    @include bp(desktop) {
        margin: 10rem 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .media-text__text {
        width: 100%;
        margin-bottom: 2rem;

        @include bp(tablet) {
            margin-bottom: 4rem;
        }
        
        @include bp(desktop) {
            width: calc(50% - 6rem);
            max-width: 560px;
            margin-bottom: 0;
        }

        h3 {
            font-size: 2.2rem;
            line-height: 3rem;
            color: $primary-blue;

            @include bp(tablet) {
                font-size: 2.6rem;
                line-height: 3.4rem;
            }
        }

        p {
            font-size: 1.6rem;
            line-height: 3rem;

            @include bp(tablet) {
                font-size: 1.8rem;
                line-height: 3.2rem;
            }
        }

        .button {
            margin-top: 2rem;

            @include bp(desktop) {
                margin-top: 6rem;
            }
        }
    }

    .media-text__media {
        width: 100%;

        @include bp(desktop) {
            width: calc(50% - 6rem);
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }

    &.block__media-text--padded {

        .container {
            padding: 3rem;
            background-color: $lightest;

            @include bp(tablet) {
                padding: 4rem;
            }

            @include bp(desktop) {
                padding: 6rem;
            }

            .media-text__text {
                order: 1;
                margin-right: 0;

                @include bp(desktop) {
                    order: 2;
                }
            }

            .media-text__media {
                order: 2;

                @include bp(desktop) {
                    order: 1;
                }
            }
        }
    }
}