.block__pagination {
    padding: 2rem 0;
    background-color: $lightest;

    @include bp(tablet) {
        padding: 4rem 0;
    }

    @include bp(desktop) {
        padding: 8rem 0;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .pagination__link {
        width: calc(50% - 2rem);
        max-width: 540px;
        display: flex;
        align-items: center;
        text-decoration: none;

        &-previous {
            margin-bottom: 2rem;
            justify-content: flex-start;

            @include bp(tablet) {
                margin-bottom: 0;
            }

            div {
                order: 1;

                @include bp(tablet) {
                    order: unset;
                    padding-left: 5rem;
                }

                @include bp(desktop) {
                    padding-left: 10rem;
                }
            }

            svg {
                order: 2;
                transform: rotate(90deg);

                @include bp(tablet) {
                    order: unset;
                }
            }
        }

        &-next {
            justify-content: flex-end;

            div {

                @include bp(tablet) {
                    padding-right: 5rem;
                }

                @include bp(desktop) {
                    padding-right: 10rem;
                }
            }

            svg {
                transform: rotate(-90deg);
            }
        }

        svg {
            width: 20px;
            height: auto;
            display: block;
        }

        div {

            h4 {
                margin: 0 0 .5rem 0;
                font-family: $header-font-family-alternate;
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: $orange;
                text-transform: uppercase;

                @include bp(tablet) {
                    font-size: 1.6rem;
                    line-height: 2.1rem;
                }
            }

            p {
                margin: 0;
                font-size: 2.2rem;
                line-height: 3.3rem;
                color: $primary-blue;

                @include bp(tablet) {
                    font-size: 3.6rem;
                    line-height: 4.7rem;
                }
            }
        }
    }

    &.block__pagination--simple {
        padding: 2rem 0;
        background-color: $lightest;

        @include bp(tablet) {
            padding: 4rem 0;
        }

        ul {
            margin: 0 auto;
            padding: 0;
            display: flex;
            list-style: none;

            li {
                margin: 0 2rem;

                a {
                    font-family: $header-font-family-alternate;
                    text-transform: uppercase;
                    text-underline-position: under;
                    color: $orange;
                }
            }
        }
    }
}