.block__publications {
    margin: 5rem 0;

    @include bp(desktop) {
        margin: 10rem 0;
    }

    .section-heading {
        margin-bottom: 1.5rem;

        @include bp(tablet) {
            margin-bottom: 2.5rem;
        }

        @include bp(desktop) {
            margin-bottom: 5rem;
        }
    }

    .publications__item {
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $dark-cream;

        &:last-child {
            margin-bottom: 0;
        }

        &-left {

            .publications__item-title {
                margin-bottom: 2.5rem;
                font-size: 2.2rem;
                line-height: 3.8rem;
                color: $charcoal;
            }

            .publications__item-author {
                margin: 0 0 1rem 0;
                font-size: 1.6rem;
                line-height: 1.6rem;
                color: $charcoal;
            }

            .publications__item-references {
                margin: 0;
                font-size: 1.6rem;
                line-height: 3.8rem;
                color: $charcoal;
            }
        }

        

        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .publications__item-date {
                margin: 0 0 3rem 0;
                font-size: 2.2rem;
                line-height: 3.8rem;
                text-transform: uppercase;
                color: $charcoal;
            }

            .publications__item-link {
                margin: 0;
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 2.8rem;
                color: $orange;
                text-decoration: none;
            }
        }
    }
}