.block__research {
    padding: 5rem 0;

    @include bp(desktop) {
        padding: 10rem 0;
    }

    .research__item {
        margin-bottom: 2rem;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: $lightest;

        @include bp(tablet) {
            margin-bottom: 4rem;
            padding: 5rem;
        }

        @include bp(desktop) {
            margin-bottom: 10rem;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-details {
            width: 100%;
            max-width: 490px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            align-items: flex-start;
            order: 2;

            @include bp(tablet) {
                width: calc(50% - 4rem);
                order: unset;
            }

            @include bp(desktop) {
                width: calc(50% - 8rem);
            }

            div {
                flex: 1;

                .section-heading {
                    
                    h2 {
                        text-transform: none;
                    }
                }

                p {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    color: $tertiary-blue;

                    @include bp(tablet) {
                        line-height: 3rem;
                    }

                    @include bp(desktop) {
                        font-size: 1.8rem;
                        line-height: 3.2rem;
                    }
                }
            }

            .button {
                margin-top: 2rem;

                @include bp(desktop) {
                    margin-top: 4rem;
                }
            }
        }

        &-image {
            width: 100%;
            margin-bottom: 2rem;
            position: relative;
            order: 1;

            @include bp(tablet) {
                width: 50%;
                margin-bottom: 0;
                order: unset
            }

            &::before {
                content: "";
                padding-top: 70%;
                display: block;
            }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                object-fit: cover;
            }
        }
    }
}