<a class="news-events__post row row--justified" href="{{ post.url }}">
    <div class="news-events__post-image column-m-12-nest column-t-4-nest">
        <img src="{{ post.featured_image }}" alt="">
        <p class="post-date">{{ post.date | date: "%-d %B %Y" }}</p>
    </div>
    <div class="news-events__post-content column-m-12-nest column-t-8-nest">
        <div>
            <h3>{{ post.title}}</h3>
            <p>{{ post.excerpt }}</p>
        </div>
        <div class="button">
            Read More
            <span class="dot dot--top-left"></span>
            <span class="dot dot--top-right"></span>
            <span class="dot dot--bottom-left"></span>
            <span class="dot dot--bottom-right"></span>
        </div>
    </div>
</a>