{% if entry %}
{% else %}
{% assign entry=page %}
{% endif %}
{% assign authors=entry.authors %}
{% if entry.layout == "report" %}
{% capture report_ref %}
DELVE Report No. {{ entry.report_number }}.
{% endcapture %}
{% elsif entry.layout == "addendum" %}
{% capture report_ref %}
DELVE Addendum {{ entry.report }}-{{ entry.ref }}.
{% endcapture %}
{% elsif entry.layout == "data-software" %}
{% capture report_ref %}
{% endcapture %}
{% endif %}
{% if entry.authors %}
{% capture report_authors %}
{% include listauthors.html %}
{% endcapture %}
{% else %}
{% capture report_authors %}
DELVE Initiative
{% endcapture %}
{% endif %}
<p>Cite as:

{{ report_authors }} ({{ entry.date | date: '%Y' }}), <i>{{ entry.title }}</i>. {{ report_ref }} Published {{ entry.date | date: '%d %B %Y' }}. Available from <a href="{{ site.url }}{{ site.baseurl}}{{ entry.url }}">{{ site.url }}{{ site.baseurl}}{{ entry.url }}</a>.</p>

