{% unless entry %}
{% assign entry=page %}
{% endunless %}
{% if entry.layout == "report" %}
{% capture report_ref %}
DELVE Report No. {{ entry.report_number }}.
{% endcapture %}
{% capture id %}delve-{{ entry.report_number }}{%endcapture%}
{% elsif entry.layout == "addendum" %}
{% capture report_ref %}
DELVE Addendum {{ entry.report }}-{{ entry.ref }}.
{% endcapture %}
{% capture id %}delve-add-{{ entry.report }}-{{ entry.ref }}{%endcapture%}
{% elsif entry.layout == "data-software" %}
{% capture report_ref %}
{% endcapture %}
{% capture id %}delve-ds-{{ entry.ref }}{% endcapture %}
{% endif %}
{% if entry.authors %}
{% assign authors=entry.authors %}
{% capture report_authors %}
{% include listauthors.html %}
{% endcapture %}
{% else %}
{% assign report_authors = "The DELVE Initiative" %}
{% endif %}

<h4>Citation</h4>

<p>{{ report_authors }} ({{ entry.date | date: '%Y' }}), <i>{{ entry.title }}</i>. {{ report_ref }} Published {{ entry.date | date: '%d %B %Y' }}. Available from <a href="{{ site.url }}{{ site.baseurl}}{{ entry.url }}">{{ site.url }}{{ site.baseurl}}{{ entry.url }}</a>{% if entry.pdf %} [<a href="{{ entry.pdf }}">pdf</a>]{% endif %}.</p>

{% include copy_sections.html %}
