{% if site.ghub.edit %}
{% capture url %}{% if page.edit_url %}{{ page.edit_url }}{% else %}https://github.com/{{ site.github_username }}/{% if site.ghub.repository %}{{ site.ghub.repository }}{% else %}{{ "" | relative_url }}{% endif %}/edit/{% if site.ghub.repository contains 'github.io' %}main{% else %}{%if site.ghub.repository == 'proceedings' %}master{% else %}gh-pages{% endif %}{% endif %}/{{ page.path }}{% endif %}{% endcapture %}

<a href="{{ url }}" target="_blank" onclick="ga('send', 'event', 'Edit Page', 'Edit', '{{ url }}', 13);">edit</a>
{% endif %}
