<header role="banner">
  <div class="nav-topbar-upper">
    <div class="container">
      <div class="row row--justified row--middle">
        <a class="university-of-cambridge" href="{{ site.data.nav.top_bar.link }}" target="_blank" rel="noreferrer">
          <img src="{{ site.data.nav.top_bar.image }}" alt="University of Cambridge">
        </a>
        <a class="cambridge-uni-quicklinks-footer" href="#cambridge-uni-quicklinks-footer">Cambridge quick links</a>
        <div class="cambridge-uni-quicklinks">
          {% for item in site.data.nav.top_bar.top_bar_nav %}
          <a href="{{ item.link }}" target="_blank" rel="noreferrer">{{ item.label }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</header>
