{%-unless person.tentative and site.conference.hide_tentative-%}
{%-if include.prefix-%}
{{ include.prefix }}
{%-endif-%}
{%-if person.url-%}
<a href="{{ person.url }}">
{%-endif-%}
{%-if person.name-%}
{{ person.name }}
{%-elsif person.consortium-%}
{{ person.consortium.name }}
{%-elsif person.given-%}
{{ person.given }} {{ person.family }}
{%-endif-%}
{%-if person.url-%}
</a>
{%-endif-%}
{%-if include.details-%}
{%-if person.position-%}
&nbsp;({{ person.position }})
{%-endif-%}
{%-if person.tentative-%}
&nbsp;<b>(tentative)</b>
{%-endif-%}
{%-if person.institute-%}
,&nbsp;{{ person.institute }}
{%-endif-%}
{%-endif-%}
{%-unless forloop.last-%}
{%-if include.separator-%}
{{ include.separator }}
{%-else-%}
,&nbsp;
{%-endif-%}
{%-endunless-%}
{%-if include.postfix-%}
{{ include.postfix }}
{%-endif-%}
{%-endunless-%}
