{%-assign background_lectures=false-%}
{% capture background_contents %}
{%-for background in site.background-%}
{%-if background.week == lecture.week and background.session==lecture.session-%}
{%-assign background_lectures=true-%}
{% include listbackground.html %}
{%-endif-%}
{%-endfor-%}
{% endcapture %}
<div class="lecture">
  <h3><a href="{{site.baseurl}}{{lecture.url}}"><b>{%-if lecture.week and lecture.week>0-%}Week {{ lecture.week }}{%-endif-%}{%-if lecture.session and lecture.session>0-%}{%-if lecture.week and lecture.week>0-%}&nbsp;{%-endif-%}Session {{ lecture.session }}{%-endif-%}:</b> {{ lecture.title }}</a></h3>
  <p><b>Lecturer:</b>&nbsp;{%- assign authors = lecture.author -%}{%- include listauthors.html -%}
    {%-if lecture.room -%}<br><b>Room:</b>&nbsp;{{lecture.room }}{%-endif-%}
    {%-if lecture.venue -%}<br><b>Venue:</b>&nbsp;{{lecture.venue }}{%-endif-%}
    {%-if lecture.date -%}<br><b>Date:</b>&nbsp;{{ lecture.date | date: '%A, %B %d, %Y' }}{%-endif-%}
    {%-if lecture.time -%}<br><b>Time:</b>&nbsp;{{ lecture.time }}{%-endif-%}</p>
  {% if background_lectures %}
  {{ background_contents }}
  {% endif %}
</div>

