<div class="paper">
  <p class="title">{{ post.title }}</p>
  <p class="details">
    <span class="authors">
      {%-if post.author-%}{%-assign people=post.author-%}{%-endif-%}
      {%-if post.authors-%}{%-assign people=post.authors-%}{%-endif-%}
      {%-for person in people-%}
      {%-include listperson.html seperator=', '-%}
      {%-endfor-%}
    </span>;
    <span class="info">{{ site.publisher }} {{ site.volume}}{% if post.number %}({{post.number}}){%endif%}:{% if post.firstpage %}{{ post.firstpage }}{% endif %}{% if post.lastpage %}-{{ post.lastpage }}{% endif %}</span>
  </p>
  <p class="links">
    [<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">abs</a>]{%-if post.pdf-%}
    [<a href="{{ post.pdf }}" target="_blank" onclick="ga('send', 'event', 'PDF Downloads', 'Download', {{ post.pdf}}, 10);">Download PDF</a>]{%-endif-%}{% if post.software %}[<a href="{{ post.software }}" target="_blank" onclick="ga('send', 'event', 'Software Link', 'Software', '{{ post.software }}', 0);">Software</a>]{% endif %}{% if post.video %}[<a href="{{ post.video }}" target="_blank" onclick="ga('send', 'event', 'Video Link', 'Video', '{{ post.video }}', 0);">Video</a>]{% endif %}{%-if post.supplementary-%}[<a href="{{ post.supplementary }}" target="_blank" onclick="ga('send', 'event', 'PDF Downloads', 'Download', {{ post.supplementary }}, 11);">Supplementary Material</a>]{%-endif-%}{%-for extra in post.extras-%}[<a href="{{ extra.link }}" target="_blank" onclick="ga('send', 'event', 'Extra Downloads', 'Download', '{{ extra.label }}', 12);">{{ extra.label }}</a>]{%-endfor-%}
  </p>
</div>
