{% if include.header %}{% assign header=include.header %}{% else %}{% assign header='h3' %}{% endif %}
{%- if site.conference.chairs -%}
{%- for chair in site.conference.chairs -%}
  {%- include listchairs.html header=header -%}
{%- endfor -%}
{%- endif -%}
{%- if include.program_committee -%}
{%-if site.data.program_committee-%}
<{{ header }}>Program Committee</{{ header }}>
<ul>
  {% for person in site.data.program_committee %}
  {%- include listperson.html prefix='<li>' postfix='</li>' separator='' details=true -%}
  {%endfor%}
</ul>
{%- endif -%}
{%- endif -%}
