<div class="row row--end">
    <div class="menu-trigger menu-trigger--alt">
        <p>MENU</p>
        <div class="menu-trigger__dots">
            <span class="dot dot-top-left"></span>
            <span class="dot dot-top-middle hidden-on-open"></span>
            <span class="dot dot-top-right"></span>
            <span class="dot dot-middle-left hidden-on-open"></span>
            <span class="dot dot-middle-middle"></span>
            <span class="dot dot-middle-right hidden-on-open"></span>
            <span class="dot dot-bottom-left"></span>
            <span class="dot dot-bottom-middle hidden-on-open"></span>
            <span class="dot dot-bottom-right"></span>
        </div>
    </div>
</div>