{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

{%- if titles_size > 0 -%}
<nav class="site-nav">
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger">
    <span class="menu-icon">
      {% include svg/menu-icon-minima.svg %}
    </span>
  </label>
  <div class="trigger">
    {% assign pages = site.pages | sort: "weight"  %}     
    {% for pg in pages %}{% if pg.title %}{% unless pg.hide %}
    <a class="page-link" href="{{ pg.url | relative_url }}">{{ pg.title }}</a>{% endunless %}{% endif %}
    {% endfor %}
    <a class="page-link" href="/talks/">Talks</a>
    <a class="page-link" href="/publications/">Publications</a>
  </div>
</nav>
{%- endif -%}
