{%-include extractinfo_publication.html entry=page-%}<article class="post-content">
  <h1>{{ title }}</h1>
  {%-include listauthors.html-%}
  <div id="info">
    {%-if layout=='article'-%}{% if journal %}<i>{{ journal }}</i>{%endif%}{%endif%}{%-if layout=='inproceedings'-%}{%-if container-title-%}<i>{{ container-title }}</i>{%-endif-%}{%-endif-%}{%-if publisher or volume-%},&nbsp;{%-endif-%}{%if publisher %}{{ publisher }} {%endif%}{%-if volume -%}{{ volume }}{%-if number-%}({{number}}){%-endif-%}{%-endif-%}{%-if firstpage-%}:{{ firstpage }}{%-if lastpage-%}-{{ lastpage }}{%-endif-%}{%-endif-%}{%-if issued.date-parts or year or date-%},&nbsp;{%-endif-%}{%-if issued-%}{{ issued.date-parts.first }}{%-elsif year-%}{{ year }}{%-elsif date-%}{{ date | date: "%Y" }}{%-endif-%}.
  </div> <!-- info -->
  {% if abstract %}
  <h4>Abstract</h4>
  <div id="abstract" class="abstract">
    {{ abstract }}
  </div>{% endif %}
  <h4>Cite this Paper</h4>
{% include copy_sections.html %}
  {% if pdf or software or supplementary or page.extras %}
  <h4>Related Material</h4>
  <div id="extras">
    <ul>
      <li><a href="{{ pdf }}" target="_blank" onclick="ga('send', 'event', 'PDF Downloads', 'Download', '{{ pdf }}', 10);">Download PDF</a></li>{% if supplementary %}
      <li><a href="{{ supplementary }}" target="_blank" onclick="ga('send', 'event', 'PDF Downloads', 'Download', '{{ supplementary }}', 11);">Supplementary Material</a></li>{% endif %}{% if software %}
      <li><a href="{{ software }}" target="_blank" onclick="ga('send', 'event', 'Software Link', 'Software', '{{ software }}', 0);">Software</a></li>{% endif %}{% if video %}
      <li><a href="{{ video }}" target="_blank" onclick="ga('send', 'event', 'Video Link', 'Video', '{{ video }}', 0);">Video</a></li>{% endif %}{% for extra in page.extras %}
      <li><a href="{{ extra.link }}" target="_blank" onclick="ga('send', 'event', 'Extra Downloads', 'Download', '{{ extra.link }}', 12);">{{ extra.label }}</a></li>{% endfor %}
    </ul>
  </div>{% endif %}
  {{ content | markdownify }}
</article>
