<!-- Second Row | Title & Nav -->
<div class="row">
  <div class="column">
    <span class="hero__dot hero__dot--bottom-left"></span>
    <span class="hero__dot hero__dot--bottom-right"></span>
    <span class="hero__item hero__item--top-left"></span>
    <div class="hero__item hero__item--bottom-left">
      {% if include.title %}
      <h1 class="hero__title hero__title--large hero__title--post">{{ include.title }}</h1>
      {% endif %}
    </div>
  </div>
  <div class="column">
    <span class="hero__dot hero__dot--bottom-right"></span>
  </div>
  <div class="column no-mobile">
    <span class="hero__dot hero__dot--bottom-right"></span>
  </div>
  <div class="column no-mobile">
    <span class="hero__dot hero__dot--bottom-right"></span>
  </div>
  <div class="column no-mobile">
    <span class="hero__dot hero__dot--bottom-right"></span>
  </div>
  <div class="column">
    <span class="hero__dot hero__dot--bottom-right"></span>
  </div>
</div>
