<!-- Second Row | Title & Nav -->
<div class="row">
  <div class="column">
    <span class="hero__dot hero__dot--bottom-left"></span>
    <span class="hero__dot hero__dot--bottom-right"></span>
    {% if include.title %}
    <div class="hero__item hero__item--bottom-left">
      <h1 class="hero__title">{{ include.title }}</h1>
    </div>
    {% endif %}
  </div>
  <div class="column">
    <span class="hero__dot hero__dot--bottom-right"></span>
  </div>
  <div class="column no-mobile">
    <span class="hero__dot hero__dot--bottom-right"></span>
  </div>
  <div class="column no-mobile">
    <span class="hero__dot hero__dot--bottom-right"></span>
  </div>
  <div class="column no-mobile">
    <span class="hero__dot hero__dot--bottom-right"></span>
  </div>
  <div class="column">
    <span class="hero__dot hero__dot--bottom-right"></span>
  </div>
</div>

