{%-if page.layout=='inproceedings' or page.layout=='report' or page.layout=='techreport' or page.layout=='article' or page.layout=='misc' or page.layout=='post' or page.layout=='talk' or page.layout=='lecture'-%}
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
{%-capture description-%}
{{ page.title }}
{%-if page.authors-%}{%-assign authors=page.authors-%}{%-elsif page.author-%}{%-assign authors=page.author-%}{%-endif-%}
{%-include listauthors.html-%}

{{ page.abstract | markdownify | strip_html }}
{%-endcapture-%}
<meta name="description" content="{{ description | strip_html | strip_newlines | truncate: 160 }}">

{%-include hidden_copy_code.html-%}
{%-include paper_google_scholar.html-%}
{%-include paper_twitter_meta.html-%}
{%-include paper_open_graph_meta.html-%}

{%-else -%}
{%-include hidden_copy_code.html-%}
{%-seo-%}
{%-endif-%}

