        <!-- Third Row -->
        <div class="row">
            <div class="column">
                <span class="hero__dot hero__dot--bottom-left"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
        </div>
