{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

{%- if titles_size > 0 -%}
<nav class="site-nav">
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger">
    <span class="menu-icon">
      {% include svg/menu-icon-minima.svg %}
    </span>
</label>
  <div class="trigger">
  <ul id="leftnavlist">
    <li><a id="home" class="page-link" href="./index.html">Home</a></li>
    {% assign pages = site.pages | sort:"weight"  %}     
    {% for pg in pages %}{% include listmenupg.html id=true prefix="<li>" postfix="</li>"%}{% endfor %}
    {% if site.conference.submission.show %}
    {% if site.conference.submission.url %}<li><a class="page-link" href="{{ site.conference.submission.url }}" target="_blank">Submission Site</a></li>{% endif %}{% endif %}
    {% if site.conference.proceedings.show %}
    {% if site.conference.proceedings.url %}<li><a class="page-link" href="{{ site.conference.proceedings.url }}" target="_blank">Proceedings</a></li>{% endif %}{% endif %}
{% if site.conference.registration.show %}
    {% if site.conference.registration.url %}<li><a class="page-link" href="{{ site.conference.registration.url }}" target="_blank">Registration and Logistics</a></li>{% endif %}{% endif %}
    {% if site.conference.sponsors.show %}
    {% if site.conference.sponsors.url %}<li><a class="page-link" href="{{ site.conference.sponsors.url }}" target="_blank">Sponsors</a></li>{% endif %}{% endif %}
    <li><a class="page-link" href="{{ 'other.html' | remote_url }}">Past Meetings</a></li>
  </ul>
  </div>
</nav>
  {% if page.title %}
  {% assign id = page.title | downcase | replace:' ','-' | replace:',','' | replace: '/','' %}
  <script type="text/javascript">
  document.getElementById('{{ id }}').id='leftcurrent';
</script>
{% endif %}

{% endif %}
