/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  padding: 10px 0;
}

/* Add Animation */
.modal-content, #modal-caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Magnify Button */
.magnify {
  color: #f1f1f1;
  text-align: right;
}

.img-button:hover,
.img-button:focus {
  background-color: #bbb;
  cursor: pointer;
  transition: 0.3s;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}      
.figure {
  float: right;
  border: 1px;
  margin: 17px;
  position: relative;
  background-color: #EBEDEF;
  border-color: black;
}
.modal-figure {
  margin: 1em;
  position: relative;
  background-color: #EBEDEF;
}
.figure-frame {
  margin: 1ex;
  border: 2px;
  position: relative;
  border-color: black;
  background-color: white;
}
.figure > .figure-frame > img {
    max-width:$float-width;
}
.figure > .figure-frame > table {
    max-width:$float-width;
}
.figure > .figure-frame > iframe {
    max-width:$float-width;
}
.figure > .figure-frame > div > img {
    max-width:$float-width;
}
.figure > .figure-frame > div > iframe {
    max-width:$float-width;
}
.figure > .figure-frame > object {
    max-width:$float-width;
}
.figure > .figure-frame > div > object {
    max-width:$float-width;
}
.figure > .caption-frame {
    max-width:$float-width;
}

/* Image animations from Open AI Gym when in their float */
.figure > .figure-frame > iframe > .animation > img {
    width:100%;
    max-width:$float-width;
}

.caption-frame {
  margin: 1ex;
  border: 2px;
  position: relative;
  background-color: white;
}
