/**
 * Site header
 */

.menuItem{
text-decoration:none;
color:#31639c;
font-family:arial,helvetica,sans-serif;
font-size:125%;
font-weight:bold;
}

.volume{
font-size:115%;
font-weight:bold;
}

a{
text-decoration:none;
color:#3030a0
}

.aNoUnder{
text-decoration:none;
color:#3030a0
}

.anchor{
color:#000000
}

.tiny{
font-size:75%;
}

.codebox {
    /* Below are styles for the codebox (not the code itself) */
    border:1px solid black;
    background-color:#EEEEFF;
    width:3em;
    height:1.5ex;
    overflow:hidden;
    padding:1px;
}
.codebox code {
    /* Styles in here affect the text of the codebox */
    font-size:0.7em;
    /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
}

.site-header {
    border-top: 0px;
    border-bottom: 0px;
}
.site-title {
    letter-spacing: 0px;
}
.site-logo {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    target: _top;
    float: left;
    width: 7em;
}

/* This deals with the image at the top, placing logo on left. */

.hero-image {
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image img {
  padding-right: 10px;
  margin: 10px 0 5px 10px;
  width: 110px;
  float: left;
}

.hero-text {
  margin-left: 0.6em ;
  padding-left: 10px ;
  padding-top: 10px ;
  padding-bottom: 30px ;
  font-weight: bold ;
  text-align: left ;
  font-size: 2em;
}

/*** code button copy ***/

.codebox {
    width: 1px;
    height: 1px;
    border: none;
    background: $background-color;
}

.bibbutton {
    border-radius: 2px;
    float:         right;
}
.bibbuttontext {
    border-radius: 2px;
    float:        left;
}
.bibbuttongroup {
    cursor: pointer; /* Pointer/hand icon */
}
.bibbuttongroup:after {
    content: "";
    clear: both;
    display: table;
}

.bibhr {
    padding:0;
    margin: 2px 0px;
    border-top: 1px;
}


.page-content {
    padding: $spacing-unit 1;
}


.proceedings-list {
    margin-left: 0;
    list-style: none;
}

.authors,
#authors {
    font-weight: bold;
    font-style: italic;
    display: inline;
}
.info,
#info {
    display: inline;
}
.details,
.links {
    margin-left: 2em;
}
#note {
    font-weight: bold;
    color: #444477;
}
#footer {
    border-top: 1px solid gray;
    padding-top: 1em;
    margin-top: 1em;
    font-size: smaller;
}
a {
    text-decoration: none;
    color: #3030a0
}
#content {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
#fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 8em;
    height: 100%;
}
#sectionnav {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.jmlr {
    width: 7em;
}
img.rss {
    width: 2em;
}

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  font-size: small;
  color: darken($grey-color, 15);
  line-height: 1.5em;

  a { 
    color: darken($grey-color, 15); 

    &:hover {
      text-decoration: none;
      color: $brand-color;
    }
  }
}

.footer-left {
  float: left;

  @include media-query($on-mobile) {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
}

.footer-right {
  float: right;
  text-align: right;

  @include media-query($on-mobile) {
    float: none;
    width: 100%;
    text-align: center;
  }
}
