<nav class="site-nav">
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger">
  <span class="menu-icon">
      {%-include svg/menu-icon-minima.svg-%}
  </span>
  </label>
  <div class="trigger">
    {%-if page.layout ==  'home'-%}
    <a class="page-link" href="/">DMLR</a>
    {%-else-%}
    <a class="page-link" href="{{ site.url }}{{ site.baseurl }}/">Volume {{ site.volume }}</a>
    {%-endif-%}
    <a class="page-link" href="http://proceedings.mlr.press/">PMLR</a> 
    <a class="page-link" href="http://www.jmlr.org/">JMLR</a> 
    <a class="page-link" href="http://www.jmlr.org/mloss">MLOSS</a>
    <a class="page-link" href="/submission.html">Submission</a>
    <a class="page-link" href="{{site.url}}/{{ site.baseurl }}/assets/rss/feed.xml">
      <img src="{{site.url}}{{ site.baseurl }}/assets/images/RSS.gif" class="rss" alt="RSS Feed">
    </a>
  </div>
</nav>
