---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #1161C9;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$on-mobile:        480px;
$on-laptop:        800px;
$on-palm:          480px;

@font-face {
  font-family: 'icomoon';
  src:  url('{{ "/assets/icons/fonts/icomoon.eot?2vj544" | relative_url | prepend: site.url }}');
  src:  url('{{ "/assets/icons/fonts/icomoon.eot?2vj544#iefix" | relative_url | prepend: site.url }}') format('embedded-opentype'),
    url('{{ "/assets/icons/fonts/icomoon.ttf?2vj544" | relative_url | prepend: site.url }}') format('truetype'),
    url('{{ "/assets/icons/fonts/icomoon.woff?2vj544" | relative_url | prepend: site.url }}') format('woff'),
    url('{{ "/assets/icons/fonts/icomoon.svg?2vj544#icomoon" | relative_url | prepend: site.url }}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize",
  "icons";

.header-image { width: 100%; }

.content {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}


.infobox-special-offer {
  box-sizing: border-box;
  width: 100%;
  padding: $spacing-unit / 2.5;
  background: lighten($brand-color, 50%);
  margin-top: $spacing-unit / 2;  
  margin-bottom: $spacing-unit / 2;  
}

.infobox-red{
  box-sizing: border-box;
  width: 100%;
  padding: $spacing-unit / 2;
  border: 3px solid red;
  background: lighten(red, 45%);
  margin-top: $spacing-unit / 2;  
  margin-bottom: $spacing-unit / 2;  
}

.infobox-venue {
  box-sizing: border-box;
  float: right;
  width: 42%;
  padding: $spacing-unit / 2.5;
  background: $grey-color-light;
  margin-left: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;

  @include media-query($on-mobile) {
    float: none;
    margin: 0;
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
    width: 100%;
  }

  iframe {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lighten($grey-color, 25);
    overflow: hidden;
  }

  hr {
    border: 1px solid lighten($grey-color, 25);
    margin-top: $spacing-unit / 4;
    margin-bottom: $spacing-unit / 4;
  }

  img {
    margin: 0;
    margin-top: $spacing-unit / 4;
    box-sizing: border-box;
    border: 1px solid lighten($grey-color, 25);
  }

  .tiny-text {
    font-size: xx-small;
    text-align: center;
    margin-bottom: $spacing-unit / 4;
  }
}


.workshop-header {
  margin-bottom: $spacing-unit;
  padding: $spacing-unit / 2.5;
  background: lighten($grey-color-light, 2%);
  line-height: 2em;
  @extend %clearfix;

  .workshop-header-key {
    width: 15%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;

    @include media-query($on-mobile) {
      width: 100%;
      float: none;
    }
  }

  .workshop-header-value {
    width: 85%;
    float: left;

    @include media-query($on-mobile) {
      width: 100%;
      float: none;
    }
  }

  .workshop-header-separator {
    margin-bottom: $spacing-unit / 4;
    width: 100%;
    float: none;

    @include media-query($on-mobile) {
      margin-bottom: $spacing-unit / 2;
    }
  }

}

.list-workshop-li { 
  margin-bottom: $spacing-unit;

  h3 { margin-bottom: $spacing-unit / 8; }
}

.list-day-li { 
  margin-bottom: $spacing-unit;

  h3 { margin-bottom: $spacing-unit / 2; }
}

.list-day-table {
  width: 100%;
  vertical-align: top;
  border-collapse: collapse;

  tr:nth-child(odd) {background: lighten($grey-color, 40%);}

  tr { 
    width: 100%; 
    margin: 0; 
    padding: 0;
  }
  
  td { padding: $spacing-unit / 6; }

  .centered-td {
    width: 100%;
    font-style: italic;
    text-align: center;
  }

  .time-td { 
    width: 48%; 
    text-align: right;
  }

  .title-td { 
    width: 48%; 
    font-weight: 500;
  }

  .separator-td { 
    width: 4%;
    text-align: center;
  }

  @include media-query($on-mobile) {
    font-size: small;
  }
}
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  font-size: small;
  color: darken($grey-color, 15);
  line-height: 1.5em;

  a { 
    color: darken($grey-color, 15); 

    &:hover {
      text-decoration: none;
      color: $brand-color;
    }
  }
}

.footer-left {
  float: left;

  @include media-query($on-mobile) {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
}

.footer-right {
  float: right;
  text-align: right;

  @include media-query($on-mobile) {
    float: none;
    width: 100%;
    text-align: center;
  }
}
