---
# Only the main Sass file needs front matter (the dashes are enough)
---
$grey-color:       #828282;

.nnegate {
    -webkit-filter:invert(1);
    filter:invert;
}


@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize",
  "code-button",
  "technical",
  "figure-box",
  "icons";

