{% if site.banner or page.banner %}{% capture banner_image_url %}{% if page.banner %}{{ page.banner | prepend: "/assets/images/" | prepend: site.baseurl }}{% else %}{{ site.banner | prepend: "/assets/images/" | prepend: site.baseurl }}{% endif %}{% endcapture %}{% endif %}
{% capture banner_title %}{% if site.banner_title or page.banner_title %}{%if page.banner_title %}{{ page.banner_title }}{% else %}{{site.banner_title }}{% endif %}{% else %}{{ site.title }}{%endif%}{% endcapture %}

<div class="hero-image">
  <div class="hero-text">
    <a href="/" target="_top"><img src="{{ site.baseurl }}/assets/images/logo-pmlr.png" alt="[{{ site.conference.name }} Logo]"></a>
    {{ banner_title }}
  </div>
</div>

