<!-- Start Hero -->
<div class="hero" style="background: url('{{ banner }}') no-repeat; background-size: cover;">
  <div class="banner container-fluid">
    {% if notice %}
    {{ notice }}
    {% endif %}
  </div>
  <div class="hero-content">
    <div class="container-fluid">
      <div class="">
        <h1 style="color:#000">{{ banner_title }}</h1>
        <p>{{ site.location }}</p>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="height:500px;" >

    <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form" style="background-color:transparent;">
      <h3></h3>

    </div>

  </div>
</div>
<!-- End Hero -->
