<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- capture description -%}
  <p>This is the home page of {{ site.conference.styling }} {{ site.conference.short_name }} {{ site.conference.year }}.</p>
  
  {% include conference_description.html %}
  {%- endcapture -%}
  <!-- Title, description and favicon -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ description | strip_html }}{% endif %}">
  <link rel="stylesheet" type="text/css" href="{{site.url}}{{site.baseurl}}/assets/css/{{ site.style }}.css" />
  <link rel="shortcut icon" href="{{site.url}}{{site.baseurl}}/assets/images/favicon-{{ site.style }}.ico" type="image/x-icon">
  <link rel="icon" href="{{site.url}}{{site.baseurl}}/assets/images/favicon-{{ site.style }}.ico" type="image/x-icon">  

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {% include google_tracking_code.html %}
  {% include mathjax_code.html %}

</head>
