<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article>

  {{ content }}

  {% include conference_description %}

   {% if site.previous_meeting.name %}{% if site.previous_meeting.url %}<p><a href="{{ site.previous_meeting.url }}">Link to {{ site.previous_meeting.name }}</a> </p>{% endif %}{% endif %}

  {% if site.conference.sponsors %}
  <h3>Sponsors</h3>

  <p>This event is sponsored by
  {% for sponsor in site.conference.sponsors %}
  <br>{% include listsponsor.html %}</br>
  {% endfor %}
  </p>
  {% endif %}

  {% if site.conference.chairs %}
  <h3>Organizers</h3>

  {%- include listallchairs.html  header='h4' -%}
  {% endif %}
</article>


</div>
