<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article>

{% if site.ghub.edit %}
{% capture url %}https://github.com/{{ site.github_username }}/{% if site.ghub.repository %}{{ site.ghub.repository }}{% else %}{{ site.baseurl }}{% endif %}/edit/{% if site.ghub.repository contains 'github.io' %}master{% else %}gh-pages{% endif %}/_config.yml{% endcapture %}
<p align="right">[<a href="{{ url }}" target="_blank" onclick="ga('send', 'event', 'Edit Page', 'Edit', '{{ url }}', 13);">edit</a>]</p>
{% endif %}

  {% include conference_description.html %}

   {% if site.previous_meeting.name %}{% if site.previous_meeting.url %}<p><a href="{{ site.previous_meeting.url }}">Link to {{ site.previous_meeting.name }}</a> </p>{% endif %}{% endif %}

  {{ content }}
  
  {% if site.conference.sponsors %}
  <h3>Sponsors</h3>

  <p>This event is sponsored by
  {% for sponsor in site.conference.sponsors %}
  <br>{% include listsponsor.html %}</br>
  {% endfor %}
  </p>
  {% endif %}

  {% if site.conference.chairs %}
  <h3>Organizers</h3>

  {%- include listallchairs.html  header='h4' -%}
  {% endif %}
</article>


</div>
