<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article>

  {{ content }}

<p>The {{ site.conference.instance }} {{ site.conference.styling }} {{site.conference.full_name }} {{ site.conference.year }}) will be held in {{ site.conference.location }} from <b>{{ site.conference.dates[0] | date: "%A, %-d %B %Y" }} to {{ site.conference.dates.last | date: "%A, %-d %B %Y" }}</b> at the <a href="{{ site.conference.venue_url }}">{{ site.conference.venue }}</a>.</p>


   {% if site.previous_meeting.name %}{% if site.previous_meeting.url %}<p><a href="{{ site.previous_meeting.url }}">Link to {{ site.previous_meeting.name }}</a> </p>{% endif %}{% endif %}

  {% if site.conference.sponsors %}
  <h3>Sponsors</h3>

  <p>This event is sponsored by
  {% for sponsor in site.conference.sponsors %}
  <br>{% include listsponsor.html %}</br>
  {% endfor %}
  </p>
  {% endif %}

  {% if site.conference.chairs %}
  <h3>Organizers</h3>

  {%- include listallchairs.html  header='h4' -%}
  {% endif %}
</article>


</div>
