---
layout: default
---

{%-assign parent_lectures=false-%}
{% capture parent_contents %}
{%-for parent in site.lectures-%}
{%-if parent.week == page.week and parent.session==page.session-%}
{%-assign parent_lectures=true-%}
  <li><a href="{{site.baseurl}}{{parent.url}}"><b>{%-if parent.week and parent.week>0-%}Week {{ parent.week }}{%-endif-%}{%-if parent.session and parent.session>0-%}{%-if parent.week and parent.week>0-%}&nbsp;{%-endif-%}Session {{ parent.session }}{%-endif-%}:</b> {{ parent.title }}</a></li>
{%-endif-%}
{%-endfor-%}
{% endcapture %}

<h1> {{ page.title }}</h1>

<p>{%- include talklinks.html -%}</p>

<p>
{% for person in page.author %}
{% include listperson.html %}
{% endfor %}</p>

<p><b>Abstract</b>: {{ page.abstract }} </p>

{% include showslides.html %}
{% include showvideo.html %}
    
{% if parent_lectures %}
<h3>Parent Lecture</h3>
<p>This is background for:</p>
<ul>
  {{ parent_contents }}
</ul>
{% endif %}

{{ content }}
