---
layout: page
---

<section class="block block__hero block__hero--standard">
  <div class="container">
    {% include top-row-logo-and-menu.html %}
    {% include second-row-nav.html title=page.title %}
  </div>
</section>
{%if content %}
<section class="block block__text">
    <div class="container">
      {{ content }}
    </div>
</section>
{% endif %}

<section class="block block__projects">
    <div class="container">
        <div class="section-heading">
            <h2>Case Studies</h2>
            <span></span>
        </div>
        <div class="projects__grid">
            {% for item in site.casestudies reversed  %}
                <a href="{{ item.url | relative_url }}" class="projects__item">
                    <div class="projects__item-image">
                        <img src="{{ item.icon | relative_url }}" alt="Image of {{item.title}}">
                    </div>
                    <div class="projects__item-details">
                        <div>
                            <h2>{{ item.title }}</h2>
                            <p>{{ item.date | date: "%Y-%m-%d"}}</p>
                        </div>
                        <span>View Case Study</span>
                    </div>
                </a>
		{% endfor %}
        </div>
    </div>
</section>


