<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {%- if site.style == 'aistats' -%}
      <div class="leftmenu">
	{% include aistats/nav-bar.html %}
      </div>
      {%- endif -%}
      
      <div class="wrapper">
	{%- include edit_link.html -%}
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}

  </body>

</html>
