<!DOCTYPE html>
<html lang="{{ site.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  
  <body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    {% include header.html %}
    <main class="main">
      {{ content }}
    </main>
    {% include footer.html %}
    <script type="text/javascript" src={{ "/assets/js/jquery-3.6.0.min.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/js/main.js" | relative_url }}></script>
  </body>
</html>

