<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include site-head.html %}

    <body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
        {% include site-header.html %}
        <main class="main">
            {{ content }}
        </main>
        {% include site-footer.html %}
        <script type="text/javascript" src="{{ "" | relative_url }}/assets/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="{{ "" | relative_url }}/assets/js/main.js"></script>
    </body>
</html>

