---
layout: default
---

{% assign sorted = site.github.public_repositories  %}
  
<h1>Past Meetings</h1>
<ul>
  {% for repository in sorted reversed %}{% if repository.has_pages %}{% unless repository.name contains 'github.io' %}{% if repository.name contains site.style %}
  <li>
    <a href="{{ repository.name | prepend: site.url prepend: '/' }}"><b>AISTATS {{ repository.name | remove_first: site.style }}</b></a> {{ repository.description }} 
  </li>
    {% endif %}{% endunless %}{% endif %}{% endfor %}    
  <br>
</ul>

{{ content }}
