---
layout: page
---

<section class="block block__hero block__hero--standard">
  {% if page.featured_image %}<div class="hero__bg">
    <img src="{{ page.featured_image }}">
  </div>{% endif %}
  <div class="container">
    {% include top-row-logo-and-menu.html %}
    {% include second-row-nav-post.html title=page.title back_to_url="/publications/" back_to_text="Back to publications" %}
  </div>
</section>

<section class="block block__post-single block__post-single--padtop">
  <div class="container">
    {% include edit_link.html %}
    {{ content }}
  </div>
</section>
