<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>ML@CL</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
</head>

<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    {% include site-header.html %}
    <main class="main">
        <section class="block block__hero block__hero--standard">
            <div class="hero__bg">
                <img src="{{ page.featured_image }}">
            </div>
            <div class="container">
                <!-- Top Row | Logo & Menu -->
                <div class="row">
                    <div class="hero__item hero__item--bottom-left">
                        {% include nav-primary.html %}
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-left"></span>
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-left"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                        <a href="{{site.url}}" class="hero__item hero__item--top-left">
                            <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
                        </a>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column no-mobile">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column no-mobile">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column no-mobile">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                        <div class="hero__item hero__item--top-right">
                            {% include menu-trigger.html %}
                        </div>
                    </div>
                </div>
                <!-- Second Row | Title & Nav -->
                <div class="row">
                    <div class="column">
                        <span class="hero__dot hero__dot--bottom-left"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                        <div class="hero__item hero__item--top-left">
                            <a href="{{site.url}}/publications/" class="back-to-collection">
                                <svg width="20px" height="12px" viewBox="0 0 20 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Home-Concept-v1.0-b" transform="translate(-1583.000000, -759.000000)" fill="#FFFFFF">
                                            <g id="Down" transform="translate(1583.000000, 759.000000)">
                                                <rect id="Rectangle" x="8" y="8" width="4" height="4"></rect>
                                                <rect id="Rectangle" x="4" y="4" width="4" height="4"></rect>
                                                <rect id="Rectangle" x="0" y="0" width="4" height="4"></rect>
                                                <rect id="Rectangle" x="12" y="4" width="4" height="4"></rect>
                                                <rect id="Rectangle" x="16" y="0" width="4" height="4"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p>Back to publications</p>
                            </a>
                        </div>
                        <div class="hero__item hero__item--bottom-left">
                            <h1 class="hero__title hero__title--large hero__title--post">{{ page.title }}</h1>
                        </div>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column no-mobile">
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column no-mobile">
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column no-mobile">
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                </div>
            </div>
        </section>

        <section class="block block__post-single block__post-single--padtop">
            <div class="container">
                {{ content }}
            </div>
        </section>
    </main>
    {% include site-footer.html %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>